body {
  font-family: Raleway, Arial, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 91px;
}

.header__menu {
  align-self: center;
}

.header__links-list {
  display: flex;
  gap: 31px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.01em;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_no-underline {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__link,
.footer__link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.header__logo {
  width: 138px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: right;
  align-self: center;
  padding-right: 30px;
}

.address {
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.cover {
  background-image: url(../images/cover.jpg);
  min-height: 757px;
  background-size: cover;
  position: relative;
  background-position: center;
  padding: 165px 50px 50px;
  margin-bottom: 178px;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.6);
  position: absolute;
  inset: 0;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-family: Raleway, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  line-height: 1.35;
}

.aligned-text_right {
  text-align: right;
  line-height: 1.1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  position: relative;
  padding-top: 130px;
  padding-left: 30px;
  justify-content: space-between;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
  align-self: center;
}

.letter-spacing-description-text {
  letter-spacing: 1.1em;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-family: Raleway;
}

.lots {
  display: flex;
  flex-direction: column;
  min-height: 691px;
  padding: 0 24px;
  justify-content: space-between;
}

.lots__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
}

.lots__card-list-item {
  list-style: none;
  position: relative;
}

.card {
  min-height: 563px;
  padding: 51px 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-skip-ink: none;
  text-decoration: underline;
  color: #fff;
  display: block;
  position: relative;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  display: block;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 0.9px solid;
}
.lots__look-more-link-left {
  padding-left: 40px;
}

.about {
  display: grid;
  padding: 146px 24px 180px 68px;
  grid-template-rows: 280px 315px;
}

.about__column {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 72px;
  margin-top: 35px;
}

.circle {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 400px;
  display: flex;
}

.about__logo-image {
  height: 115px;
  align-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 312px;
  padding-top: 2px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1px 50px 88px;
}

.footer__menu-list {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 49px;
  list-style: none;
  padding-top: 2px;
}

.footer__social-icon {
  width: 48px;
}
